.vs/
.vscode/
.agents/
x64/
x86/
Debug/
Release/
build/
Build/

*.user
*.suo
*.log
*.tlog
*.cache
*.db
*.opendb
*.VC.db
*.obj
*.o
*.pch
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.lastbuildstate
*.recipe

*.exe
*.dll
*.lib
*.exp

*.zip
*.binlog

Asset/
*.anim
*.animfsm
*.fbx
*.model
*.prefab
*.material
*.png
!images/*.png
*.dds
*.wav
*.wem
*.mp3
*.m4a
*.hdr
*.ttf
*.otf

Thumbs.db
Desktop.ini
.DS_Store
